# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
.pytest_cache
*.so
*.o
*.orig

*~

#Copy of libskycoin.h in pyskycoin
swig/include/libskycoin.h

#Just for testing outside tox
tests/mytest.py

# due to using tox and pytest
.tox
.cache

*.swp
*.swo

