# Include all README
recursive-include . *.md

# Include the license file
include LICENSE.txt

include requirements.txt
include requirements.dev.txt

include Makefile
include gopath/src/github.com/skycoin/skycoin/Makefile
recursive-exclude . *.a
include skycoin.py

recursive-include . *.s
recursive-include . *.go
recursive-include . *.i
recursive-include swig/include *.h
recursive-include gopath/src/github.com/skycoin/skycoin/include *.h

recursive-include docker *
recursive-include swig/include *
recursive-include gopath/src/github.com/skycoin/skycoin/include *

recursive-exclude . *.orig
exclude .github
exclude .travis
exclude .pytest_cache
recursive-exclude lib *.py
recursive-exclude lib *.sh
recursive-exclude lib *.txt
recursive-exclude .github *
recursive-exclude .travis *
recursive-exclude .pytest_cache *

